%h3 Pages of #{ @book.title }
#stats
  Pages (#{ @book.pages.count }), Names (#{ @book.names.count })
#pages
  - @pages.each_with_index do |page, i|
    .page{ class: @current_page.id == i + 1 ? 'current' : '' } 
      %a{ href: "/pages?book_id=%s&page_id=%s&tab=%s" %  |
      [@book.id, page.id, @current_tab] }page #{ i + 1 } |
#page_content
  #page_tabs
    - data = [@book.id, @current_page.id]
    %ul
      %li 
        - current = @current_tab == '1' ? 'current' : ''
        %a{ class: current,                                        |
        href: "/pages?book_id=%s&page_id=%s&tab=1" % data  } Image |
      %li 
        - current = @current_tab == '2' ? 'current' : ''
        %a{ class: current,                                 |
        href: "/pages?book_id=%s&page_id=%s&tab=2" % data } |
          Names (#{ @current_page.names.size })
  #page_data
    - if @current_tab == '1'
      %img{ src: "/images/scans/book_%s/%s" %           |
        [@book.id, URI.encode(@current_page.img_name)], |
        width: 581, height: 750 }                       |
    - else
      - names = @current_page.names.map { |n| "%s (%s)" % [n.name, n.num] }
      = names.join(', ')

      %pre
        = @tagged_text


